[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqtgraph = "*"
pyqt6 = "*"
scipy = "*"
librosa = "*"
pyo = "*"

[dev-packages]

[requires]
python_version = "3.11"
